<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>

<p>
  <b>User:</b>
  <%= @task.user.name %>
</p>


<%= link_to 'Edit', edit_user_task_path(@user, @task) %> |
<%= link_to 'Back', user_tasks_path(@user) %>
